# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.aux
# Backup and temporary files
*.bak
*.backup
*~
*.tmp

# *.pdf
*.ps

# Specific editor or build tool files 
*.swp        # Vim swap files
*.DS_Store   # macOS Finder files
Thumbs.db    # Windows Explorer files
*.DS_Store

**/__pycache__/
**/route_cache/
**node_modules/

**/build/
**report.aux